<h2>Artists & Researchers</h2>
<div id="artists">
  <div class="row">
    <div class="col-2">
      <nav id="navbar-artists" class="navbar sticky-top px-0">
        <ul class="nav flex-column">
          <% let first = true %> 
          <% artists.forEach(artist => { %>
            <li class="nav-item">
              <% if (first === true) { %> 
                <a class="nav-link px-0" href="#<%= artist.id %>"><%= artist.name %></a>
                <% first = false %> 
              <% } else { %>
                <a class="nav-link px-0" href="#<%= artist.id %>"><%= artist.name %></a>
              <% } %> 
            </li>
          <% }) %> 
        </ul>
      </nav>
    </div>
    <div class="artist-list col-10">
      <% artists.forEach(artist => { %>
        <h2 id="<%= artist.id %>" class="pt-5"><%= artist.name %></h2>
        <div class="artist-links">
        <% links.forEach(link => { %>
          <%= link %> 
          <% if (link.artist == artist.id && link.type == 'website') { %>
            <h3 id="<%= artist.id %>" class="pt-5"><%= artist.name %></h3>
            <h4> <%= link.type %>s  </h4>
            <ul>
              <li>
                <%= link.title %>
              </li>
              <li>
                <%= link.description %>
              </li>
              <li>
                <%= link.linkUrl %>
              </li>
            </ul>
          <% } %> 
          <% if (link.artist == artist.id && link.type == 'book') { %>
            <h3 id="<%= artist.id %>" class="pt-5"><%= artist.name %></h3>
            <h4> <%= link.type %>s  </h4>
            <ul>
              <li>
                <%= link.title %>
              </li>
              <li>
                <%= link.description %>
              </li>
              <li>
                <%= link.linkUrl %>
              </li>
            </ul>
          <% } %> 
          <% if (link.artist == artist.id && link.type == 'article') { %>
            <h3 id="<%= artist.id %>" class="pt-5"><%= artist.name %></h3>
            <h4> <%= link.type %>s  </h4>
            <ul>
              <li>
                <%= link.title %>
              </li>
              <li>
                <%= link.description %>
              </li>
              <li>
                <%= link.linkUrl %>
              </li>
            </ul>
          <% } %> 
          <% if (link.artist == artist.id && link.type == 'video') { %>
            <h3 id="<%= artist.id %>" class="pt-5"><%= artist.name %></h3>
            <h4> <%= link.type %>s  </h4>
            <ul>
              <li>
                <%= link.title %>
              </li>
              <li>
                <%= link.description %>
              </li>
              <li>
                <%= link.linkUrl %>
              </li>
            </ul>
          <% } %> 
          <% if (link.artist == artist.id && link.type == 'channel') { %>
            <h3 id="<%= artist.id %>" class="pt-5"><%= artist.name %></h3>
            <h4> <%= link.type %>s  </h4>
            <ul>
              <li>
                <%= link.title %>
              </li>
              <li>
                <%= link.description %>
              </li>
              <li>
                <%= link.linkUrl %>
              </li>
            </ul>
          <% } %> 
          <% if (link.artist == artist.id && link.type == 'library') { %>
            <h3 id="<%= artist.id %>" class="pt-5"><%= artist.name %></h3>
            <h4> <%= link.type %>s  </h4>
            <ul>
              <li>
                <%= link.title %>
              </li>
              <li>
                <%= link.description %>
              </li>
              <li>
                <%= link.linkUrl %>
              </li>
            </ul>
          <% } %>
        <% }) %>          
      </div>
      <% }) %>
    </div>
    <!-- <div class="col-10">
      <div data-spy="scroll" data-target="#navbar-artists" data-offset="0" class="scrollspy-artists">
        <%# artists.forEach(artist => { %>
          <h4 id="<%#= artist.id %>" class="pt-5"><%#= artist.name %></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <%# }) %> 
      </div>
    </div> -->
  </div>
</div>