<h2>Artists & Researchers</h2>
<div id="artists">
  <div class="row">
    <div class="col-2 border rounded border-white">
      <h4 class="my-3">jump to:</h4>
      <nav id="navbar-artists" class="navbar sticky-top px-0">
        <ul class="nav flex-column">
          <% let first = true %> 
          <% artists.forEach(artist => { %>
            <li class="nav-item">
              <% if (first === true) { %> 
                <a class="nav-link px-0" href="#<%= artist.id %>"><%= artist.name %></a>
                <% first = false %> 
              <% } else { %>
                <a class="nav-link px-0" href="#<%= artist.id %>"><%= artist.name %></a>
              <% } %> 
            </li>
          <% }) %> 
        </ul>
      </nav>
    </div>
    <div class="catalogue-list artist-list col-10">
      <% artists.forEach(artist => { %>
        <div class="catalogue-item">
          <h2 id="<%= artist.id %>" class="pt-5"><%= artist.name %></h2>
          <div class="catalogue-references m-4">
            <div class="catalogue-reference artist-links">
              <h3>Links</h3>
              <div class="catalogue-reference-content m-3">
                <% links.forEach(link => { %>
                  <% link.artists.forEach(linkArtist => { %>
                    <% if (linkArtist.id == artist.id && link.linkType == 'website') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkArtist.id == artist.id && link.linkType == 'book') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkArtist.id == artist.id && link.linkType == 'article') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkArtist.id == artist.id && link.linkType == 'video') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkArtist.id == artist.id && link.linkType == 'channel') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkArtist.id == artist.id && link.linkType == 'library') { %>
                      <h4> <%= link.linkType %>  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %>
                  <% }) %> 
                <% }) %>          
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>