<h2>Institutions / Companies / Organizations</h2>
<div id="institutions">
  <div class="row">
    <div class="col-2 border rounded border-white">
      <nav id="navbar-institutions" class="navbar sticky-top px-0">
        <h4 class="my-3">jump to:</h4>
        <ul class="nav flex-column">
          <% let first = true %> 
          <% institutions.forEach(institution => { %>
            <li class="nav-item">
              <% if (first === true) { %> 
                <a class="nav-link px-0" href="#<%= institution.id %>"><%= institution.name %></a>
                <% first = false %> 
              <% } else { %>
                <a class="nav-link px-0" href="#<%= institution.id %>"><%= institution.name %></a>
              <% } %> 
            </li>
          <% }) %> 
        </ul>
      </nav>
    </div>
    <div class="catalogue-list institution-list col-10">
      <% institutions.forEach(institution => { %>
        <div class="catalogue-item">
          <h2 id="<%= institution.id %>" class="pt-5"><%= institution.name %></h2>
          <div class="catalogue-references m-4">
            <div class="catalogue-reference institution-artists">
              <h3>Authors / Artists / Researchers</h3>
              <div class="catalogue-reference-content m-3">
                <ul>
                  <% institution.artists.forEach(institutionArtist => { %>
                    <li>                
                      <%= institutionArtist.name %> 
                    </li>
                  <% }) %> 
                </ul>
              </div>
            </div>
            <div class="catalogue-reference institution-links">
              <h3>Links</h3>
              <div class="catalogue-reference-content m-3">
                <% links.forEach(link => { %>
                  <% link.institutions.forEach(linkInstitution => { %>
                    <% if (linkInstitution.id == institution.id && link.linkType == 'website') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkInstitution.id == institution.id && link.linkType == 'book') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkInstitution.id == institution.id && link.linkType == 'article') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkInstitution.id == institution.id && link.linkType == 'video') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkInstitution.id == institution.id && link.linkType == 'channel') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkInstitution.id == institution.id && link.linkType == 'library') { %>
                      <h4> <%= link.linkType %>  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %>
                  <% }) %> 
                <% }) %> 
              </div>         
            </div>                  
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>