<div id="institutions" class="page">
  <h2>Libraries/ Collections / Institutions / ...</h2>
  <div class="row">
    <div class="navbar-container col-12 col-sm-4 col-md-3 col-lg-2">
      <nav id="navbar-institutions" class="page-navbar">
        <ul class="nav flex-column">
          <h5 class="my-3">jump to:</h5>
          <% let first = true %> 
          <% institutions.forEach(institution => { %>
            <li class="nav-item">
              <% if (first === true) { %> 
                <a class="nav-link px-0" href="#<%= institution.id %>"><%= institution.name %></a>
                <% first = false %> 
              <% } else { %>
                <a class="nav-link px-0" href="#<%= institution.id %>"><%= institution.name %></a>
              <% } %> 
            </li>
          <% }) %> 
        </ul>
      </nav>
    </div>
    <div class="catalogue-list institution-list col-12 col-sm-8 col-md-9 col-lg-10">
      <% institutions.forEach(institution => { %>
        <div class="catalogue-item">
          <h3 id="<%= institution.id %>" class=""><%= institution.name %></h3>
          <div class="catalogue-references">
            <!-- <div class="catalogue-reference institution-artists">
              <h4>Authors / Artists / Researchers</h4>
              <div class="catalogue-reference-content">
                <ul>
                  <%# institution.artists.forEach(institutionArtist => { %>
                    <li>                
                      <%#= institutionArtist.name %> 
                    </li>
                  <%# }) %> 
                </ul>
              </div>
            </div> -->
            <div class="catalogue-reference institution-links">
              <div class="catalogue-reference-content m-3">
                <% links.forEach(link => { %>
                  <% link.institutions.forEach(linkInstitution => { %>
                    <% if (linkInstitution.id == institution.id && link.linkType == 'website') { %>
                        <li>
                          <a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a> (<%= link.linkType %>) – <%= link.description %>
                        </li>
                    <% } %> 
                    <% if (linkInstitution.id == institution.id && link.linkType == 'book') { %>
                        <li>
                          <a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a> (<%= link.linkType %>) – <%= link.description %>
                        </li>
                    <% } %> 
                    <% if (linkInstitution.id == institution.id && link.linkType == 'article') { %>
                        <li>
                          <a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a> (<%= link.linkType %>) – <%= link.description %>
                        </li>
                    <% } %> 
                    <% if (linkInstitution.id == institution.id && link.linkType == 'video') { %>
                        <li>
                          <a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a> (<%= link.linkType %>) – <%= link.description %>
                        </li>
                    <% } %> 
                    <% if (linkInstitution.id == institution.id && link.linkType == 'channel') { %>
                        <li>
                          <a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a> (<%= link.linkType %>) – <%= link.description %>
                        </li>
                    <% } %> 
                    <% if (linkInstitution.id == institution.id && link.linkType == 'library') { %>
                      <li>
                        <a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a> (<%= link.linkType %>) – <%= link.description %>
                      </li>
                    <% } %>
                  <% }) %> 
                <% }) %> 
              </div>         
            </div>                  
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>