<h2>Publications</h2>
<div id="publications">
  <div class="row">
    <div class="col-2">
      <nav id="navbar-publications" class="navbar sticky-top px-0">
        <ul class="nav flex-column">
          <% let first = true %> 
          <% publications.forEach(publication => { %>
            <li class="nav-item">
              <% if (first === true) { %> 
                <a class="nav-link px-0" href="#<%= publication.id %>"><%= publication.name %></a>
                <% first = false %> 
              <% } else { %>
                <a class="nav-link px-0" href="#<%= publication.id %>"><%= publication.name %></a>
              <% } %> 
            </li>
          <% }) %> 
        </ul>
      </nav>
    </div>
    <div class="catalogue-list publication-list col-10">
      <% publications.forEach(publication => { %>
        <div class="catalogue-item">
          <h2 id="<%= publication.id %>" class="pt-5"><%= publication.name %></h2>
          <div class="catalogue-references m-4">
            <div class="catalogue-reference publication-artists">
              <h3>Authors / Artists / Researchers</h3>
              <div class="catalogue-reference-content m-3">
                <ul>
                  <% publication.artists.forEach(publicationArtist => { %>
                    <li>                
                      <%= publicationArtist.name %> 
                    </li>
                  <% }) %> 
                </ul>
              </div>
            </div>
            <div class="catalogue-reference publication-links">
              <h3>Links</h3>
              <div class="catalogue-reference-content m-3">
                <% links.forEach(link => { %>
                  <% link.publications.forEach(linkPublication => { %>
                    <% if (linkPublication.id == publication.id && link.linkType == 'website') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkPublication.id == publication.id && link.linkType == 'book') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkPublication.id == publication.id && link.linkType == 'article') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkPublication.id == publication.id && link.linkType == 'video') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkPublication.id == publication.id && link.linkType == 'channel') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %> 
                    <% if (linkPublication.id == publication.id && link.linkType == 'library') { %>
                      <h4> <%= link.linkType %>s  </h4>
                      <ul>
                        <li>
                          <%= link.title %>
                        </li>
                        <li>
                          <%= link.description %>
                        </li>
                        <li>
                          <%= link.linkUrl %>
                        </li>
                      </ul>
                    <% } %>
                  <% }) %> 
                <% }) %> 
              </div>         
            </div>                  
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>