<div id="publications" class="page">
  <h2>Publications</h2>
  <div class="row">
    <div class="border rounded border-white navbar-container col-12 col-sm-4 col-md-3 col-lg-2">
      <nav id="navbar-publications" class="navbar">
        <ul class="nav flex-column">
          <h5 class="my-3">jump to:</h5>
          <% let first = true %> 
          <% publications.forEach(publication => { %>
            <li class="nav-item">
              <% if (first === true) { %> 
                <a class="nav-link px-0" href="#<%= publication.id %>"><%= publication.name %></a>
                <% first = false %> 
              <% } else { %>
                <a class="nav-link px-0" href="#<%= publication.id %>"><%= publication.name %></a>
              <% } %> 
            </li>
          <% }) %> 
        </ul>
      </nav>
    </div>
    <div class="catalogue-list publication-list col-12 col-sm-8 col-md-9 col-lg-10">
      <% publications.forEach(publication => { %>
        <div class="catalogue-item">
          <!-- <h3 id="<%#= publication.id %>" class=""><%#= publication.name %></h3> -->
          <div class="catalogue-references">
            <div class="catalogue-reference publication-links">
              <!-- <h4>Links</h4> -->
              <div class="catalogue-reference-content">
                <% links.forEach(link => { %>
                  <ul>
                    <% link.publications.forEach(linkPublication => { %>
                      <% if (linkPublication.id == publication.id && link.linkType == 'website') { %>
                        <li>
                          <h4><a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a></h4>
                          <h5><%= link.linkType %></h5>
                          <p><%= link.description %></p>
                          <!-- (<%#= link.linkType %>) – <%#= link.description %> -->
                        </li>
                      <% } %> 
                      <% if (linkPublication.id == publication.id && link.linkType == 'book') { %>
                        <li>
                          <h4><a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a></h4>
                          <h5><%= link.linkType %></h5>
                          <p><%= link.description %></p>
                          <!-- (<%#= link.linkType %>) – <%#= link.description %> -->
                        </li>
                      <% } %> 
                      <% if (linkPublication.id == publication.id && link.linkType == 'article') { %>
                        <li>
                          <h4><a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a></h4>
                          <h5><%= link.linkType %></h5>
                          <p><%= link.description %></p>
                          <!-- (<%#= link.linkType %>) – <%#= link.description %> -->
                        </li>
                      <% } %> 
                      <% if (linkPublication.id == publication.id && link.linkType == 'video') { %>
                        <li>
                          <h4><a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a></h4>
                          <h5><%= link.linkType %></h5>
                          <p><%= link.description %></p>
                          <!-- (<%#= link.linkType %>) – <%#= link.description %> -->
                        </li>
                      <% } %> 
                      <% if (linkPublication.id == publication.id && link.linkType == 'channel') { %>
                        <li>
                          <h4><a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a></h4>
                          <h5><%= link.linkType %></h5>
                          <p><%= link.description %></p>
                          <!-- (<%#= link.linkType %>) – <%#= link.description %> -->
                        </li>
                      <% } %> 
                      <% if (linkPublication.id == publication.id && link.linkType == 'library') { %>
                        <li>
                          <h4><a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a></h4>
                          <h5><%= link.linkType %></h5>
                          <p><%= link.description %></p>
                          <!-- (<%#= link.linkType %>) – <%#= link.description %> -->
                        </li>
                      <% } %> 
                    <% }) %> 
                  </ul>
                <% }) %> 
              </div>         
            </div> 
            <div class="catalogue-reference publication-artists">
              <!-- <h4>Authors / Artists / Researchers</h4> -->
              <div class="catalogue-reference-content m-3">             
                <% publication.artists.forEach(publicationArtist => { %>
                  <span>| <a href="/artists/#<%= publicationArtist.id %>"><%= publicationArtist.name %></a></span>
                <% }) %> 
                <span>|</span>
              </div>
            </div>                 
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>