<div id="publications" class="page">
  <h2>Publications</h2>
  <div class="row">
    <div class="col-2 border rounded border-white navbar-container">
      <nav id="navbar-publications" class="navbar sticky-top px-0">
        <h5 class="my-3">jump to:</h5>
        <ul class="nav flex-column">
          <% let first = true %> 
          <% publications.forEach(publication => { %>
            <li class="nav-item">
              <% if (first === true) { %> 
                <a class="nav-link px-0" href="#<%= publication.id %>"><%= publication.name %></a>
                <% first = false %> 
              <% } else { %>
                <a class="nav-link px-0" href="#<%= publication.id %>"><%= publication.name %></a>
              <% } %> 
            </li>
          <% }) %> 
        </ul>
      </nav>
    </div>
    <div class="catalogue-list publication-list col-10">
      <% publications.forEach(publication => { %>
        <div class="catalogue-item">
          <h3 id="<%= publication.id %>" class=""><%= publication.name %></h3>
          <div class="catalogue-references m-4">
            <div class="catalogue-reference publication-links">
              <!-- <h4>Links</h4> -->
              <div class="catalogue-reference-content m-3">
                <% links.forEach(link => { %>
                  <ul>
                    <% link.publications.forEach(linkPublication => { %>
                      <% if (linkPublication.id == publication.id && link.linkType == 'website') { %>
                        <li>
                          <a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a> (<%= link.linkType %>) – <%= link.description %>
                        </li>
                      <% } %> 
                      <% if (linkPublication.id == publication.id && link.linkType == 'book') { %>
                        <li>
                          <a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a> (<%= link.linkType %>) – <%= link.description %>
                        </li>
                      <% } %> 
                      <% if (linkPublication.id == publication.id && link.linkType == 'article') { %>
                        <li>
                          <a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a> (<%= link.linkType %>) – <%= link.description %>
                        </li>
                      <% } %> 
                      <% if (linkPublication.id == publication.id && link.linkType == 'video') { %>
                        <li>
                          <a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a> (<%= link.linkType %>) – <%= link.description %>
                        </li>
                      <% } %> 
                      <% if (linkPublication.id == publication.id && link.linkType == 'channel') { %>
                        <li>
                          <a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a> (<%= link.linkType %>) – <%= link.description %>
                        </li>
                      <% } %> 
                      <% if (linkPublication.id == publication.id && link.linkType == 'library') { %>
                        <li>
                          <a href="<%= link.linkUrl %>" target="_blank" rel="noopener noreferrer"><%= link.title %></a> (<%= link.linkType %>) – <%= link.description %>
                        </li>
                      <% } %> 
                    <% }) %> 
                  </ul>
                <% }) %> 
              </div>         
            </div> 
            <div class="catalogue-reference publication-artists">
              <!-- <h4>Authors / Artists / Researchers</h4> -->
              <div class="catalogue-reference-content m-3">             
                <% publication.artists.forEach(publicationArtist => { %>
                  <span>| <%= publicationArtist.name %></span>
                <% }) %> 
                <span>|</span>
              </div>
            </div>                 
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>