<% if (locals.successMessage != null) { %> 
  <%= successMessage %>
<% } %> 
<% if (locals.errorMessage != null) { %> 
  <%= errorMessage %>
<% } %> 

<% if(success_msg != '') { %>
  <div class="alert alert-success mb-0">
    <%= success_msg %>
  </div>
<% } %>
<% if(error_msg != '') { %>
  <div class="alert alert-danger mb-0">
    <%= error_msg %>
  </div>
<% } %> 
<% if(error != '') { %>
  <div class="alert alert-info mb-0">
   <%= error %>
  </div>
<% } %>